.App {
  text-align: center;
}
textarea {
  resize: vertical;
 }

 form {
  padding: 1rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 95%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 12px 20px rgba(50, 50, 93, 0.05), 0 5px 15px rgba(0, 0, 0, 0.07);
 }
